.anchor-pane {
    -fx-background-color: #00b0ab;
}

.button {
    -fx-font-weight: bold;
    -fx-background-color:  #61a2b1;
    -fx-background-radius: 30;
    -fx-font-size: 16;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color: white;
    -fx-text-fill:     #61a2b1;
    -fx-border-color:   #82d3d5;
    -fx-border-width: 2;
    -fx-border-radius: 30;
    -fx-font-size: 14;
}

.pane {
    -fx-background-color: #f9e79f;
    -fx-background-radius: 10;
}

#wayOfBanking {
    -fx-font-size: 23;
    -fx-font-family: System;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.label {
    -fx-text-fill : #black;
    -fx-font-family: System;
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

.text-field {
    -fx-background-radius: 22;
    -fx-border-color: #82d3d5;
    -fx-border-radius: 20;
    -fx-border-width: 2;
    -fx-font-family: System;
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

.text-area{
    -fx-background-color: white;
    -fx-background-radius: 28;
    -fx-border-color: #82d3d5;
    -fx-border-radius: 20;
    -fx-border-width: 0;
    -fx-text-fill: black;
    -fx-font-size: 16;
}

.button:pressed{
    
    -fx-background-color: white;
    -fx-text-fill:  #61a2b1;
    -fx-border-color:   #82d3d5;
    -fx-border-width: 2;
    -fx-font-size: 14;
    
}


.text-area {
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 18; 
}


.text-area:hover{
    
  -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: black;
    -fx-font-weight: bold;  
    
    
}

.quotes {
    -fx-text-fill: white;
}

.quotes:hover {
    -fx-text-fill: white;
}


.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}




