.button {
    -fx-font-weight: bold;
    -fx-background-color:#53a098;
    -fx-background-radius: 30;
    -fx-font-size: 14;
    -fx-text-fill: white;
}

.anchor-pane{
    -fx-background-color: #61bdb3;
}

.text-field {
    -fx-border-color: #61BDB3;
    -fx-border-width: 2;
    -fx-background-radius: 22;
    -fx-border-radius: 20;
}

.pane {
    -fx-background-color: #f7eab5;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.label{
    -fx-background-color: transparent;
    -fx-background-radius: 8;
}

.button:hover{
    
    
    -fx-background-color: white;
    -fx-text-fill:  #61bdb3;
    -fx-border-color:  #61bdb3;
    -fx-border-width: 2;
    -fx-border-radius: 30;
    -fx-font-size: 14;
}



.button:pressed{
    
    -fx-background-color: white;
    -fx-text-fill:#61bdb3;
    -fx-border-color:#61bdb3;
    -fx-border-width: 2;
    -fx-font-size: 14;
    
}

.text-area {
    -fx-background-color:white;
    -fx-background-radius: 22;
    -fx-border-color: #61bdb3;
    -fx-border-radius: 20;
    -fx-border-width: 2;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 15; 
 
}


.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}