.button {
    -fx-font-weight: bold;
    -fx-background-color:   #00b0ab;
    -fx-background-radius: 30;
    -fx-font-size: 13;
    -fx-text-fill: white;
}

.button:hover{
    
    
    -fx-background-color: white;
    -fx-text-fill:      #00b0ab;
    -fx-border-color:    #00b0ab;
    -fx-border-width: 2;
    -fx-border-radius: 30;
    -fx-font-size: 13;
    
    
    
}

.anchor-pane {
    -fx-background-color: #00b0ab;
}

.pane {
    -fx-background-color: #f7e8ad;
    -fx-background-radius: 20;
}



.button:pressed{
    
    -fx-background-color: white;
    -fx-text-fill:   #00b0ab;
    -fx-border-color:    #00b0ab;
    -fx-border-width: 2;
    -fx-font-size: 13;
    
}


.table-view{
    
    -fx-background-color: aliceblue;
    -fx-font-size:14;
    -fx-font-weight: bold;
    
    
}

.table-view .column-header {
    -fx-background-color: #00b0ab;
}


.table-view .column-header-background .label{
    
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .table-cell{
    -fx-font-weight:bold;
    -fx-font-size:14px;
    -fx-text-fill: #B71C1C;
    
}

.table-row-cell:selected {
    -fx-background-color: #D1C4E9;  
}



.table-row-cell:hover {
    -fx-background-color: #D1C4E9;
}