.anchor-pane {
    -fx-background-color: #00b0ab;
}

.pane{
    -fx-background-color: #f9e79f;
    -fx-background-radius: 10;
}

#accountBalance {
    -fx-text-fill: #3b5998;
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

#balanceinfo {
    -fx-font-size: 20;
}

#wayOfBanking {
    -fx-text-fill: white;
    -fx-font-name: System;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

.text-field {
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill:  #00b0ab;
    -fx-font-weight: bold;
    -fx-font-size: 28;
}


.text-field:hover{
    
  -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: red;
    -fx-font-size: 36; 
    -fx-font-weight: bold;
    -fx-border-color: red;
    -fx-border-radius: 10;
    -fx-border-width: 2;


}

.text-area {
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 18; 
 
}


.text-area:hover{
    
  -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: white;
    -fx-font-weight: bold;  
    
    
}


.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}




