.anchor-pane {
    -fx-background-color: #00b0ab;
}

.button {
    -fx-font-weight: bold;
    -fx-background-color:  #538d9a;
    -fx-background-radius: 30;
    -fx-font-size: 14;
    -fx-text-fill: white;
}

.button:hover{


    -fx-background-color: white;
    -fx-text-fill: #538d9a;
    -fx-border-color: #538d9a;
    -fx-border-width: 2;
    -fx-border-radius: 30;
    -fx-font-size: 14;
}



.button:pressed{

    -fx-background-color: white;
    -fx-text-fill: #538d9a;
    -fx-border-color: #538d9a;
    -fx-border-width: 2;
    -fx-font-size: 14;

}

.pane{
    -fx-background-color: #f9e79f;
    -fx-background-radius: 10;
}

.label {
    -fx-text-fill: #3b5998;
}

.text-field {
    -fx-background-radius: 22;
    -fx-border-radius: 20;
    -fx-border-color: #3b5998;
    -fx-border-width: 2;
}

.text-area {
    -fx-background-color:white;
    -fx-background-radius: 22;
    -fx-border-color:   #3b5998;
    -fx-border-radius: 20;
    -fx-border-width: 2;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 15; 
 
}


.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}


