.button {
    -fx-text-fill: white;
    -fx-font-family: Arial Narrow;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 10, 0.3 , 5 , 1 );
    -fx-background-radius: 3em;

}
.button:hover {

    -fx-background-radius: 5em;
}

.anchor-pane {
    -fx-background-color: #82d3d5;
}

.pane {
    -fx-background-color: #f9e79f;
    -fx-background-radius: 15;
}

.password-field, .text-field {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 20;
    -fx-background-radius: 22;
}
.admin-log {
    -fx-background-radius: 20;
    -fx-font-size: 10;
    -fx-background-color: #966210;
    -fx-border-color: #966210;
    -fx-font-weight: bold;
    -fx-border-width: 0;
    -fx-effect: 0;
}

.admin-log:hover {
    -fx-background-radius: 20;
    -fx-font-size: 10;
    -fx-background-color: #966210;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-width: 0;
    -fx-rotate: 0;
}

.admin-log:pressed {
    -fx-background-radius: 20;
    -fx-font-size: 10;
    -fx-background-color: #966210;
    -fx-font-weight: bold;
    -fx-rotate: 0;
}