
#ReadMore {
    -fx-text-fill: white;
    -fx-font-family: Arial Narrow;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 10, 0.3 , 5 , 1 );
    -fx-background-radius: 3em;
}

#ReadMore:hover {
    -fx-background-radius: 5em;
}

.Header {
    -fx-font-weight: bold;
    -fx-background-color: #61a2b1;
    -fx-background-radius: 20;
}

.button {

}

.button:hover{
    -fx-background-color: white;
    -fx-text-fill: #39b5ff;
    -fx-border-color: #39b5ff;
    -fx-border-width: 2;
    -fx-border-radius: 20;
}

.button:pressed{
    -fx-background-color: white;
    -fx-text-fill:  #39b5ff;
    -fx-border-color:  #39b5ff;
    -fx-border-width: 2;
}