.anchor-pane {
    -fx-background-color: #00b0ab;
}

.button {
    -fx-font-weight: bold;
    -fx-background-color: #538d9a;
    -fx-background-radius: 30;
    -fx-font-size: 16;
    -fx-text-fill: white;
}

.button:hover{
    
    
    -fx-background-color: white;
    -fx-text-fill:   #538d9a;
    -fx-border-color:   #538d9a;
    -fx-border-width: 2;
    -fx-border-radius: 30;
    -fx-font-size: 16;
}

.button:pressed{
    
    -fx-background-color: white;
    -fx-text-fill: #538d9a;
    -fx-border-color: #538d9a;
    -fx-border-width: 2;
    -fx-font-size: 16;
    
}

.text-area {
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-border-color:  #538d9a;
    -fx-border-radius: 6;
    -fx-border-width: 2;
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-font-size: 16; 
 
}

.pane {
    -fx-background-color: #f9e79f;
    -fx-background-radius: 20;
}

.text-field {
    -fx-border-color: #00b0ab;
    -fx-border-width: 2;
    -fx-background-radius: 22;
    -fx-border-radius: 20;
}

.label {
    -fx-text-fill: #3b5998;
}