.button {
    -fx-font-weight: bold;
    -fx-background-color:  #538d9a;
    -fx-font-size: 20;
    -fx-background-radius: 50;
    -fx-border-color: #427000;
    -fx-border-width: 0;
    -fx-border-radius: 10;
}

.button:hover{
    
    
    -fx-background-color: white;
    -fx-text-fill:  #538d9a;
    -fx-border-color: #538d9a;
    -fx-border-width: 0;
    -fx-border-radius: 10;
    
    
    
}

.anchor-pane {
    -fx-background-color: #82d3d5;
}

.pane {
    -fx-background-color: #f9e79f;
    -fx-background-radius: 20;
}


.button:pressed{
    
    -fx-background-color: white;
    -fx-text-fill: #00BCD4;
    -fx-border-color: #00BCD4;
    -fx-border-width: 0;
}


.text-area {
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 24; 
 
}


.text-area:hover{
    
  -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: white;
    -fx-font-weight: bold;  
    
    
}


.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.back {
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color: #538d9a;
    -fx-border-width: 3;
}