.anchor-pane {
    -fx-background-color: #00b0ab;
}

.button {
    -fx-font-weight: bold;
    -fx-background-color: #538d9a;
    -fx-background-radius: 30;
    -fx-font-size: 14;
    -fx-text-fill: white;
}

.button:hover{
    
    
    -fx-background-color: white;
    -fx-text-fill:   #538d9a;
    -fx-border-color:   #538d9a;
    -fx-border-width: 2;
    -fx-border-radius: 30;
    -fx-font-size: 14;
    
    
    
}

#enterAmount {
    -fx-font-family: System;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-text-fill: #538d9a;
}

#wayOfBanking {
    -fx-font-family: System;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-text-fill: white;
}


.button:pressed{
    
    -fx-background-color: white;
    -fx-text-fill:  #538d9a;
    -fx-border-color:  #538d9a;
    -fx-border-width: 2;
    -fx-font-size: 14;
    
}



.text-area {
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 18; 
 
}


.text-area:hover{
    
  -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: white;
    -fx-font-weight: bold;  
    
    
}


.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.text-field {
    -fx-background-radius: 22;
    -fx-border-radius: 20;
    -fx-border-color: #00b0ab;
    -fx-border-width: 2;
}

.pane {
    -fx-background-color: #f9e79f;
    -fx-background-radius: 10;"
}




